[submodule "forestfire-data-excelr"]
	path = forestfire-data-excelr
	url = https://github.com/friskyspock/forestfire-data-excelr.git
[submodule "salary-data-excelr"]
	path = salary-data-excelr
	url = https://github.com/friskyspock/salary-data-excelr.git
[submodule "book-data-excelr"]
	path = book-data-excelr
	url = https://github.com/friskyspock/book-data-excelr.git
[submodule "gas-turbines-data-excelr"]
	path = gas-turbines-data-excelr
	url = https://github.com/friskyspock/gas-turbines-data-excelr.git
[submodule "zoo-data-excelr"]
	path = zoo-data-excelr
	url = https://github.com/friskyspock/zoo-data-excelr.git
[submodule "glass-data-excelr"]
	path = glass-data-excelr
	url = https://github.com/friskyspock/glass-data-excelr.git
[submodule "wine-data-excelr"]
	path = wine-data-excelr
	url = https://github.com/friskyspock/wine-data-excelr.git
[submodule "airlines-data-excelr"]
	path = airlines-data-excelr
	url = https://github.com/friskyspock/airlines-data-excelr.git
[submodule "salary-hike-data-excelr"]
	path = salary-hike-data-excelr
	url = https://github.com/friskyspock/salary-hike-data-excelr.git
[submodule "toyota-corolla-data-excelr"]
	path = toyota-corolla-data-excelr
	url = https://github.com/friskyspock/toyota-corolla-data-excelr.git
[submodule "50-startups-data-excelr"]
	path = 50-startups-data-excelr
	url = https://github.com/friskyspock/50-startups-data-excelr.git
[submodule "fraud-check-data-excelr"]
	path = fraud-check-data-excelr
	url = https://github.com/friskyspock/fraud-check-data-excelr.git
[submodule "company-data-excelr"]
	path = company-data-excelr
	url = https://github.com/friskyspock/company-data-excelr.git
[submodule "delivery-time-data-excelr"]
	path = delivery-time-data-excelr
	url = https://github.com/friskyspock/delivery-time-data-excelr.git
[submodule "crime-data-excelr"]
	path = crime-data-excelr
	url = https://github.com/friskyspock/crime-data-excelr.git
